.card_2-content:hover {
  transform: scale(1.01);
}

.DrawerTable {
  height: calc(100% - 36.4px - 40px) !important;
  min-width: 95% !important;
}
/* .DrawerTable .ant-spin-container,
.ant-spin-nested-loading,
.ant-table {
  height: 100% !important;
}
.ant-pagination {
  margin: 0 !important;
  padding: 0;
}
.ant-table-content {
  height: 100% !important;
  max-height: 520px !important;
} */
.DrawerCT .ant-drawer-body {
  padding-left: 0;
  padding-right: 0;
}
/*  '#', '#', '#', '#', '#', '#' */
.colorDC634E th.ant-table-cell,
.colorDC634E.highlight-rowChart {
  background: #dc634e !important;
}
.color792ABE th.ant-table-cell,
.color792ABE.highlight-rowChart {
  background: #792abe !important;
}
.colorB58400 th.ant-table-cell,
.colorB58400.highlight-rowChart {
  background: #b58400 !important;
}
.color85CE59 th.ant-table-cell,
.color85CE59.highlight-rowChart {
  background: #85ce59 !important;
}
.color8FCCF4 th.ant-table-cell,
.color8FCCF4.highlight-rowChart {
  background: #8fccf4 !important;
}

.colorEA8441 th.ant-table-cell,
.colorEA8441.highlight-rowChart {
  background: #ea8441 !important;
}

.color9171B8 th.ant-table-cell,
.color9171B8.highlight-rowChart {
  background: #9171b8 !important;
}

.color6A6123 th.ant-table-cell,
.color6A6123.highlight-rowChart {
  background: #6a6123 !important;
}

.color22677A th.ant-table-cell,
.color22677A.highlight-rowChart {
  background: #22677a !important;
}

.color2FD7A1 th.ant-table-cell,
.color2FD7A1.highlight-rowChart {
  background: #2fd7a1 !important;
}

.colorundefined th.ant-table-cell,
.colorundefined.highlight-rowChart {
  background: #8bc6ec !important;
}
.colorundefined td.ant-table-cell,
.colorundefined.highlight-rowChart {
  color: #000000 !important;
}

.highlight-rowChart {
  background-color: #8bc6ec;
}
/* .highlight-rowChart:hover {
  background-color: #8bc6ec !important;
} */
.highlight-rowChart td.ant-table-cell {
  font-weight: 500 !important;
}
.highlight-rowChart .ant-table-cell-fix-right,
.highlight-rowChart .ant-table-cell-fix-left {
  background-color: #8bc6ec !important;
}
.highlight-rowChart .progress-bar {
  display: none;
}
.highlight_soquy {
  display: none;
}
.ant-drawer-body {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.hidden-row {
  display: none;
}
/* .ant-table-wrapper.setHeight,
.setHeight .ant-spin-container,
.setHeight .ant-table,
.setHeight .ant-table-container .ant-table-body {

  height: calc(100vh - 171px) !important;
}
.ant-drawer-content.TONKHO .ant-table-wrapper.setHeight,
.ant-drawer-content.TONKHO .setHeight .ant-spin-container,
.ant-drawer-content.TONKHO .setHeight .ant-table,
.ant-drawer-content.TONKHO .setHeight .ant-table-container .ant-table-body {
  height: calc(100vh - 300px) !important;
}
.ant-table-wrapper.setHeight,
.setHeight.setTableDr1 .ant-spin-container,
.setHeight.setTableDr1 .ant-table,
.setHeight.setTableDr1 .ant-table-container .ant-table-body {
  height: calc(100vh - 210px) !important;
} */

/* .setHeight .ant-table-container .ant-table-body {
  max-height: unset !important;
  
} */
.setHeight .ant-table {
  /* height: calc(100vh - 1000px) !important; */
}
.ant-segmented-item-label {
  font-size: 14px;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 20px;
  z-index: 10;
  padding-top: 50px;
}
.stickyBottom {
  position: -webkit-sticky;
  position: sticky;
  bottom: 50px;
  font-size: 20px;
  z-index: 10;
  /* padding-bottom: 50px; */
}
/* .sticky::before {
  content: 'Thống kê iSale';
  position: absolute;
  top: 0;
  z-index: 0;
} */
/* Common styles for both mobile and desktop */
th.ant-table-cell {
  overflow: auto;
}
.stickyTable {
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0;
  z-index: 10;

  /* font-size: 20px;   */
}
/* thead.ant-table-thead {
  position: sticky;
  top: 0;
  z-index: 10;
} */
/* Responsive styles for mobile */

/* th.ant-table-cell {
  resize: horizontal;
  overflow-x: auto;
  white-space: nowrap;
} */

/* Responsive styles for desktop */

.ant-table-cell-row-hover,
.ant-table-column-sort {
  background-color: transparent !important;
}
.ant-drawer-footer {
  background-color: rgb(241, 241, 241);
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline,
.css-1o6z5ng {
  border-radius: unset !important;
  border: none !important;
  border-bottom: 1px solid !important;
}
.css-igs3ac {
  border-radius: unset !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center !important;
}
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0 !important;
  margin: 0 !important;
  text-align: center !important;
  /* border-radius: none !important; */
}
.css-1o6z5ng {
  padding: 0 !important;
  margin: 0 !important;
  text-align: center !important;
}
.ant-drawer-footer {
  padding: 0 !important;
}

.ant-drawer-body {
  /* overflow: hidden !important; */
}
/* 
.card {
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  background-color: #ffffff;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: 0.6s ease-in;
}
.
.card::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  background: #4a80ec;
  height: 220px;
  width: 25px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}

.card:hover::before {
  transition-delay: 0.2s;
  transform: scale(140);
}

.card:hover {
  color: #ffffff;
} */
/* .card {
  transition: all 0.3s ease;
}
.card:hover {
  animation: rotateAndDisappear 1s infinite;
}

@keyframes rotateAndDisappear {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} */
/* .ant-spin-container {
  height: 98%;
}
.ant-table-body {
  height: calc(86% - 32px);
  max-height: unset !important;
} */
.ant-spin-nested-loading,
.ant-spin-container,
.ant-spin-nested-loading,
.ant-table,
.ant-table-container {
  height: 100% !important;
}
.ant-table-body {
  overflow: auto scroll;
  max-height: calc(100vh - 100px - 81px - 100px) !important;
  min-height: calc(100vh - 100px - 100px - 81px) !important;
}

.BANHANGHANGHOA .ant-table-body,
.BANHANGKHACHHANG .ant-table-body,
.BANHANGQUYLE .ant-table-body {
  overflow: auto scroll;
  max-height: calc(100vh - 100px - 81px - 100px - 20px) !important;
  min-height: calc(100vh - 100px - 100px - 81px - 20px) !important;
}

.TONKHO .ant-table-body {
  overflow: auto scroll;
  max-height: 97% !important;
}
.TONKHO .ant-spin-nested-loading,
.TONKHO .ant-spin-container,
.TONKHO .ant-spin-nested-loading,
.TONKHO .ant-table,
.TONKHO .ant-table-container {
  height: 97%;
}
.TONKHO .ant-table-body {
  overflow: auto scroll;
  max-height: 100% !important;
  min-height: 100% !important;
}
.TONKHO .DrawerTable {
  height: calc(95% - 36px - 28px) !important;
  min-width: 95% !important;
}
.THU .DrawerTable,
.CHI .DrawerTable,
.QUYTIENMAT .DrawerTable {
  height: calc(95% - 36px - 28px) !important;
  min-width: 95% !important;
}
.PHAITHU .ant-table-body,
.PHAITRA .ant-table-body {
  overflow: auto scroll;
  max-height: calc(100% - 53.7px) !important;
  min-height: calc(100% - 53.7px) !important;
}
.tableDr1_home.PHAITHU .ant-table-body,
.tableDr1_home.PHAITRA .ant-table-body {
  overflow: auto scroll;
  max-height: calc(100% - 32px) !important;
  min-height: calc(100% - 32px) !important;
}
.tableDr1_home.MUAHANG .ant-table-body,
.tableDr1_home.BANHANG .ant-table-body {
  overflow: auto scroll;
  max-height: calc(100% - 32px) !important;
  min-height: calc(100% - 32px) !important;
}
.tableDr1_home.XUATTRA .ant-table-body,
.tableDr1_home.NHAPTRA .ant-table-body {
  overflow: auto scroll;
  max-height: calc(100% - 32px) !important;
  min-height: calc(100% - 32px) !important;
}
.tableDr1_home.THU .ant-table-body,
.tableDr1_home.CHI .ant-table-body,
.tableDr1_home.QUYTIENMAT .ant-table-body {
  overflow: auto scroll;
  max-height: calc(100% - 12px) !important;
  min-height: calc(100% - 12px) !important;
}
.tableDr1_home.THU .QUYTIENMAT .ant-table-body,
.tableDr1_home.CHI .QUYTIENMAT .ant-table-body,
.tableDr1_home.QUYTIENMAT .QUYTIENMAT .ant-table-body {
  overflow: auto scroll;
  max-height: calc(100% - 53.7px - 12px) !important;
  min-height: calc(100% - 53.7px - 12px) !important;
}
.ant-segmented-group {
  background: #ccc;
}
#main {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;

  margin: 0;
}
.ant-segmented-item-label {
  white-space: unset !important;
}
