.card_2-content:hover {
  transform: scale(1.01);
}

.DrawerTable {
  height: 95% !important;
  min-width: 95% !important;
}
/* .DrawerTable .ant-spin-container,
.ant-spin-nested-loading,
.ant-table {
  height: 100% !important;
}
.ant-pagination {
  margin: 0 !important;
  padding: 0;
}
.ant-table-content {
  height: 100% !important;
  max-height: 520px !important;
} */
.DrawerCT .ant-drawer-body {
  padding-left: 0;
  padding-right: 0;
}
/*  '#', '#', '#', '#', '#', '#' */
.colorDC634E th.ant-table-cell {
  background: #dc634e !important;
}

.color792ABE th.ant-table-cell {
  background: #792abe !important;
}

.colorB58400 th.ant-table-cell {
  background: #b58400 !important;
}

.color85CE59 th.ant-table-cell {
  background: #85ce59 !important;
}

.color8FCCF4 th.ant-table-cell {
  background: #8fccf4 !important;
}

.colorEA8441 th.ant-table-cell {
  background: #ea8441 !important;
}

.color9171B8 th.ant-table-cell {
  background: #9171b8 !important;
}

.color6A6123 th.ant-table-cell {
  background: #6a6123 !important;
}

.color22677A th.ant-table-cell {
  background: #22677a !important;
}

.color2FD7A1 th.ant-table-cell {
  background: #2fd7a1 !important;
}

.colorundefined th.ant-table-cell {
  background: #8bc6ec !important;
}
.colorundefined td.ant-table-cell {
  color: #000000 !important;
}
.highlight-rowChart {
  background-color: #8bc6ec;
}
.highlight-rowChart:hover {
  background-color: #8bc6ec !important;
}
.highlight-rowChart td.ant-table-cell {
  font-weight: 500 !important;
}
.highlight-rowChart .ant-table-cell-fix-right,
.highlight-rowChart .ant-table-cell-fix-left {
  background-color: #8bc6ec !important;
}
.highlight-rowChart .progress-bar {
  display: none;
}

.ant-drawer-body {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.hidden-row {
  display: none;
}
.ant-table-wrapper.setHeight,
.setHeight .ant-spin-container,
.setHeight .ant-table,
.setHeight .ant-table-container .ant-table-body {
  /* max-height: unset !important; */
  height: calc(100vh - 245px) !important;
}
.setHeight .ant-table-container .ant-table-body {
  max-height: unset !important;
  /* height: calc(100vh - 500px); */
}
.setHeight .ant-table {
  height: calc(100vh - 500px) !important;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  font-size: 20px;
  z-index: 10;
  padding-top: 50px;
}
/* .sticky::before {
  content: 'Thống kê iSale';
  position: absolute;
  top: 0;
  z-index: 0;
} */
/* Common styles for both mobile and desktop */
th.ant-table-cell {
  overflow: auto;
}

/* Responsive styles for mobile */
@media screen and (max-width: 768px) {
  th.ant-table-cell {
    resize: horizontal;

    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
  }
}

/* Responsive styles for desktop */

.ant-table-cell-row-hover,
.ant-table-column-sort {
  background-color: transparent !important;
}
.ant-drawer-footer {
  background-color: rgb(241, 241, 241);
}
