.ant-table-wrapper.setHeight,
.setHeight .ant-spin-container,
.setHeight .ant-table,
.setHeight .ant-table-container .ant-table-body {
  /* max-height: unset !important; */
  height: calc(100vh - 300px);
}
.setHeight .ant-table-container .ant-table-body {
  max-height: unset !important;
  /* height: calc(100vh - 500px); */
}
.setHeight .ant-table {
  height: calc(100vh - 225px);
}
/* NXT */
.NhapXuatTonKho .ant-table-wrapper.setHeight,
.NhapXuatTonKho .setHeight .ant-spin-container,
.NhapXuatTonKho .setHeight .ant-table,
.NhapXuatTonKho .setHeight .ant-table-container .ant-table-body {
  /* max-height: unset !important; */
  height: calc(100vh - 365px);
}
.NhapXuatTonKho .setHeight .ant-table-container .ant-table-body {
  max-height: unset !important;
  /* height: calc(100vh - 500px); */
}
.NhapXuatTonKho .setHeight .ant-table {
  height: calc(100vh - 290px);
}

/* @media (min-width: 536px) {
  .ant-table-wrapper.setHeight,
  .setHeight .ant-spin-container,
  .setHeight .ant-table,
  .setHeight .ant-table-container,
  .setHeight .ant-table-container .ant-table-body {
    height: calc(100vh - 400px);
  }
} */

.h400 .ant-table-container .ant-table-body {
  max-height: 400px;
  min-height: 400px;
}
.h310 .ant-table-container .ant-table-body {
  max-height: 310px;
  min-height: 310px;
}

.h300 .ant-table-container .ant-table-body {
  max-height: 300px;
  min-height: 300px;
}
.h290 .ant-table-container .ant-table-body {
  max-height: 290px;
  min-height: 290px;
}
.h264 .ant-table-container .ant-table-body {
  max-height: 264px;
  min-height: 264px;
}
.h250 .ant-table-container .ant-table-body {
  max-height: 250px;
  min-height: 250px;
}

.h220 .ant-table-container .ant-table-body {
  max-height: 220px;
  min-height: 220px;
}
.h200 .ant-table-container .ant-table-body {
  max-height: 200px;
  min-height: 200px;
}
.h150 .ant-table-container .ant-table-body {
  max-height: 150px;
  min-height: 150px;
}

tbody tr {
  cursor: pointer;
}
.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}

.ant-table-summary {
  position: absolute;
}

.highlight-row {
  background-color: #d7f4fd;
}
.ant-table-cell-row-hover {
  background-color: #d7f4fd !important;
}
.highlight-row .ant-table-cell-fix-right,
.highlight-row .ant-table-cell-fix-left {
  background-color: #d7f4fd !important;
}

/* tr.highlight-row:hover {
  background-color: #87b4ef !important;
} */
/* .setHeight .ant-table-body:--w {
  overflow-y: hidden !important;
} */
/* width */
.ant-table-body::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

/* Track */
.ant-table-body::-webkit-scrollbar-track {
  background: transparent;
  display: none;
}

/* Handle */
.ant-table-body::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border-radius: 20000px;
}

/* Handle on hover */
.ant-table-body::-webkit-scrollbar-thumb:hover {
  background: #969696;
}
