@import url('./assets/css/style.css');

@import url('../src/assets/vendor/bootstrap/css/bootstrap.min.css');
@import url('../src/assets/vendor/bootstrap-icons/bootstrap-icons.css');
@import url('../src/assets/vendor/boxicons/css/boxicons.min.css');
@import url('../src/assets/vendor/quill/quill.snow.css');
@import url('../src/assets/vendor/quill/quill.bubble.css');
@import url('../src/assets/vendor/remixicon/remixicon.css');
@import url('../src/assets/vendor/simple-datatables/style.css');
/* @import 'constants.css';
@import 'base.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body,
#root {
  overflow-x: hidden;
  overflow-y: auto;

  font-size: 16px;
  position: relative;
}
html {
  overflow-y: auto;
}

#root {
  /* height: calc(100vh - 100px); */
  /* overflow-y: scroll;
  overflow-x: hidden; */
  /* padding-top: 50px;
  padding-bottom: 50px; */
  overflow-y: hidden;
}
a {
  text-decoration: none;
}
.show_main {
  margin-left: 200px;
}
.align-items-center {
  justify-content: space-between;
}
/* #gridMain {
  display: grid !important;
  grid-template-areas:
    'DOANHSO  TONKHO'
    'PHAITHU PHAITRA'
    'MUAHANG XUATTRA '
    'BANHANG NHAPTRA'
    'THU CHI' !important;
} */

@media (min-width: 768px) {
  .col-md-12 {
    width: 100% !important;
  }
}
.card.info-card.sales-card {
  /* max-height: 120px; */
  margin-bottom: 10px;
  padding-bottom: 10px;
}
i.red {
  color: rgb(230, 77, 77);
}
i.blue {
  color: #68b1e1;
}
.progress-bar {
  /* margin-top: 20px; */
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}
.progress-bar-fill {
  animation: animation 1s ease-in-out;
  border-radius: 4px;
  transition: width 1.3s ease-in-out;
}
@keyframes animation {
  from {
    width: 0px;
  }
  to {
    height: 100%;
  }
}

.card-title,
.textArray {
  margin: 0;
  padding: 0;
}
.textArray {
  margin-right: 5px;
}
.ps-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cook_tag {
  z-index: 10000;
  position: absolute;
  bottom: 0;
  width: 400px;
  right: 10px;
}
.btn_cooks {
  padding-left: 15px;
  cursor: pointer;
}
.mainSider,
.sidebar {
  width: unset;
  z-index: 10;
}
.mainSider {
  margin-left: 100%;
}

#sidebar,
.mainSider {
  /* transition: width 1.5s ease; */
}
.accordion-header,
.accordion-button {
  border-radius: 10px !important;
}
a.nav-link span {
  color: #ffffff !important;
}
.collapse {
  visibility: unset !important;
}
.lastTitle {
  margin-left: 20px;
}

/* .table_pmh .ant-table-body {
  min-height: 418px;
  max-height: 418px;
} */

.table_modal .ant-table-body {
  min-height: 220px;
  max-height: 220px;
}
.zIndex {
  z-index: 1500;
}
/* Tan */
.table_DMHangHoa .ant-table-body {
  min-height: 435px;
  max-height: 435px;
  z-index: 0;
}
.table_TXNhapXuatTonKho .ant-table-body {
  min-height: 300px;
  max-height: 300px;
  z-index: 0;
}
.table_DLPhieuNDC .ant-table-body {
  min-height: 400px;
  max-height: 400px;
  z-index: 0;
}
.DatePicker_NXTKho .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  height: 25px;
  width: 150px;
}

.DatePicker_NDCKho .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  height: 30px;
  width: 170px;
}

input[type='radio'] {
  width: 20px;
}
.required {
  position: relative;
}

.required::after {
  content: '*';
  color: #ff0000;
  padding-left: 0.1rem;
}

.ant-input-number:focus-within {
  box-shadow: none;
}
/* K custom antd and MUI */
/* start */
/* custom button  antd */
/* .ant-btn.ant-btn-sm {
  background-color: #1677ff;
  color: #fff;
} */
.ant-input-number-input {
  padding: 0 1px !important;
  text-align: center !important;
}
.ant-input-number {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
}
/* custom table antd */

.table_view .ant-table-body {
  min-height: 276px;
  max-height: 276px;
}

.table_HH .ant-table-body {
  min-height: 450px;
  max-height: 450px;
}

.ant-table-title:hover {
  display: none;
}

/* custom input antd */
.ant-input-number .ant-input-number-input {
  color: black;
  text-align: center;
}

/* .ant-table-cell-fix-left-last {
  background-color: #f1f1f1;
} */

.ant-table-fixed-right {
  background-color: #f1f1f1;
}

/* custom DatePicker MUI*/

/* .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
  height: 24px;
  width: 150px;
}

.css-9yxuw4-MuiAutocomplete-root .MuiOutlinedInput-root.MuiInputBase-sizeSmall {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 24px;
  border-radius: 0px;
}

.css-9yxuw4-MuiAutocomplete-root .MuiAutocomplete-inputRoot .MuiAutocomplete-input {
  height: 13px;
  font-size: 14px;
} */
/* end */

#main {
  /* max-height: calc(100vh - 110px); */
  margin-bottom: 50px;
  margin-top: 50px;

  /* margin-top: 0px !important; */
}

.sider-menu {
  opacity: 0;
  transition: opacity 0.5s ease; /* Adjust the duration and timing function as needed */
}

.sider-menu.visible {
  opacity: 1;
}

.css-1bn53lx {
  height: 30px !important;
  width: 150px !important;
}
.css-p0rm37 {
  transform: translate(14px, 15px) scale(1) !important;
}

.bgDash {
  background-image: url('./assets/login_background.svg');
  object-fit: cover;
  background-position: center;
  background-size: cover;
}
.ant-input-number .ant-input-number-input {
  text-align: right;
}
.ant-input-number-handler-wrap {
  display: none !important;
}
.PhoneCss {
  gap: 3px;
}
.boxRate {
  overflow: scroll;
  /* max-height: 31vh !important; */
}
.boxRate_scroll {
  overflow: scroll;
  max-height: 35vh;
}
@media only screen and (max-width: 667px) {
  /* Styles for mobile screens */
  body {
    font-size: 14px;
  }

  /* @media (min-width: 375px) {
    .boxRate {
      max-height: 240px !important;
    }
  }
  @media (min-width: 390px) {
    .boxRate {
      max-height: 400px !important;
    }
  } */
}
.ant-drawer-body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  height: calc(100vh - 28px);
}

@media only screen and (min-width: 200px) and (max-width: 300px) {
  table {
    font-size: 12px;
  }

  #gridMain {
    display: grid !important;
    grid-template-areas:
      'DOANHSO'
      'TONKHO'
      'PHAITHU'
      'PHAITRA'
      'MUAHANG'
      'XUATTRA'
      'BANHANG'
      'NHAPTRA'
      'THU'
      'CHI'
      'QUYTIENMAT';
  }
  .footer_main .footer_logo {
    max-height: 40px;
    max-width: 100px;
  }
  .footer_main .footer_box {
    gap: 5px;
  }
  .footer_main .footer_content p {
    font-size: 12px !important;
  }
  .DOANHSO_ct {
    width: 46%;
    margin-left: 8px;
  }
}
/* Đối với điện thoại */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
  table {
    font-size: 12px;
  }

  #gridMain {
    display: grid !important;
    grid-template-areas:
      'DOANHSO'
      'TONKHO'
      'PHAITHU'
      'PHAITRA'
      'MUAHANG'
      'XUATTRA'
      'BANHANG'
      'NHAPTRA'
      'THU'
      'CHI'
      'QUYTIENMAT';
  }
  .footer_main .footer_logo {
    max-height: 40px;
    max-width: 100px;
  }
  .footer_main .footer_box {
    gap: 5px;
  }
  .footer_main .footer_content p {
    font-size: 12px;
  }
  .DOANHSO_ct {
    width: 46%;
    margin-left: 8px;
  }
}

/* Đối với tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
  table {
    font-size: 12px;
  }
  .footer_main .footer_content p {
    font-size: 14px !important;
  }
  .DOANHSO_ct {
    width: 50%;
    margin-left: 8px;
  }
  #gridMain {
    display: grid !important;
    grid-template-areas:
      'DOANHSO  TONKHO'
      'PHAITHU PHAITRA'
      'MUAHANG XUATTRA '
      'BANHANG NHAPTRA'
      'THU CHI '
      'QUYTIENMAT QUYTIENMAT';
  }

  .PhoneCss {
    flex-direction: column;
    gap: 3px;
    height: 94%;
  }
  .cssChart {
    width: 400px;
  }
  .footer_main .footer_box {
    gap: 15px;
  }
}

/* Đối với PC */
@media only screen and (min-width: 1025px) {
  body {
    font-size: 18px;
    height: 100vh;
  }
  table {
    font-size: 16px;
  }
  .cssChart canvas {
    max-height: 200px !important;
  }

  .MainPage_bg svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: block;
    background-color: #0e4166;
    background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
  }
  #gridMain {
    display: grid !important;

    grid-template-areas:
      'DOANHSO  TONKHO PHAITHU PHAITRA'
      'MUAHANG XUATTRA BANHANG NHAPTRA'
      'THU CHI CHI QUYTIENMAT  ';
  }
  .PhoneCss {
    flex-direction: column;
    gap: 3px;
    height: 94%;
  }
  .cssChart {
    width: 400px;
  }
  .footer_main .footer_box {
    gap: 15px;
  }
}

#gridMain .DOANHSO {
  grid-area: DOANHSO;
}
#gridMain .TONKHO {
  grid-area: TONKHO;
}
#gridMai .PHAITHU {
  grid-area: PHAITHU;
}
#gridMain .PHAITRA {
  grid-area: PHAITRA;
}
#gridMain .MUAHANG {
  grid-area: MUAHANG;
}
#gridMain .XUATTRA {
  grid-area: XUATTRA;
}
#gridMain .BANHANG {
  grid-area: BANHANG;
}
#gridMain .NHAPTRA {
  grid-area: NHAPTRA;
}
#gridMain .THU {
  grid-area: THU;
}
#gridMain .CHI {
  grid-area: CHI;
}
#gridMain .QUYTIENMAT {
  grid-area: QUYTIENMAT;
}

.MainPage_bg svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: calc(100vh); */
  box-sizing: border-box;
  display: block;
  background-color: #0e4166;
  background-image: linear-gradient(to bottom, rgba(14, 65, 102, 0.86), #0e4166);
}
